/* @font-face {
  font-family: "yumincho";
  src: url("../fonts/yuminchou.woff2");
}

@font-face {
  font-family: "hunter";
  src: url("../fonts/hunter-webfont.woff2");
}

@font-face {
  font-family: "CooperMd";
  src: url("../fonts/CooperMdBTMedium.ttf");
}

@font-face {
  font-family: "helio";
  src: url("../fonts/Helio.otf");
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "oliverquin";
  src: url("../fonts/oliverquin.ttf");
}

@font-face {
  font-family: "A-OTF-Gothic";
  src: url("../fonts/A-OTF-GothicMB101Pr6N-Reg.woff2");
} */
